<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="FileLocation" value="C:\Users\Caio\Dropbox\GTAC\TOPTAL\RisingStar\AcuTarget Images\"></add>
    <add key="DestinationFileLocation" value="C:\GitHub\rising-star\RISING.STAR.WebApp\RISING.STAR.WebApp\Files\Exams\" />
  </appSettings>
  <connectionStrings>
    <add name="RISINGSTAREntities" connectionString="metadata=res://*/RisingStarEntities.csdl|res://*/RisingStarEntities.ssdl|res://*/RisingStarEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=52.40.35.114;initial catalog=RISINGSTAR;persist security info=True;user id=webapp;password=&quot;pS8w*=DQTJ4&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>