
@{
    ViewBag.Title = "Patient Education";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<style>
    html,body        {height:100%;}
    .wrapper         {width:80%;height:100%;margin:0 auto;background:#CCC}
    .h_iframe        {position:relative;}
    .h_iframe .ratio {display:block;width:100%;height:auto;}
    .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
</style>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">

        <div class="panel panel-default">
            <div class="panel-body tabs">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#tab1" data-toggle="tab">Cataract</a></li>
                    <li><a href="#tab2" data-toggle="tab">Cataract Illustration</a></li>
                    <li><a href="#tab3" data-toggle="tab">Normal night vision</a></li>
                    <li><a href="#tab4" data-toggle="tab">Nightime glare</a></li>
                    <li><a href="#tab5" data-toggle="tab">Nightime glare</a></li>
                    <li><a href="#tab6" data-toggle="tab">Daylight glare</a></li>
                    <li><a href="#tab7" data-toggle="tab">Blurred visions</a></li>
                    <li><a href="#tab8" data-toggle="tab">Pacient Education Concepts</a></li>

                </ul>
                
                <div class="tab-content">

                    <div class="tab-pane fade in active" id="tab1">
                        <img src="~/Images/PatientEd/cataract.jpg" alt="" />
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <img src="~/Images/PatientEd/cataract_illustration.jpg" alt="" />
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <img src="~/Images/PatientEd/normal_night_vision.jpg" alt="" />
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        <img src="~/Images/PatientEd/nightmare_glare1.jpg" alt="" />
                    </div>
                    <div class="tab-pane fade" id="tab5">
                        <img src="~/Images/PatientEd/nightmare_glare2.jpg" alt="" />
                    </div>
                    <div class="tab-pane fade" id="tab6">
                        <img src="~/Images/PatientEd/daylight_glare.jpg" alt="" />
                    </div>
                    <div class="tab-pane fade" id="tab7">
                        <img src="~/Images/PatientEd/blurred_vision.jpg" alt="" />
                    </div>

                    <div class="tab-pane fade" id="tab8">
                        <div class="row">
                            <div class="col-md-12">
                                <object width="1000" height="600">
                                    <param name="movie" value="~/Files/SWF/SIGHTSELECTOR PRACTICE EDITION.swf">
                                    <embed src="~/Files/SWF/SIGHTSELECTOR PRACTICE EDITION.swf" width="1000" height="600">
                                    </embed>
                                </object>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>

