
@{
    ViewBag.Title = "Compare Visiometrics Reports";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-type="0">Objective Scatter</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-type="1">Tear Film Reports</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-type="2">Purkinje Reports</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" data-type="3">PseudoAccomodation</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div id="pdftLeft">
                <div class="row">
                    <div class="col-md-12">
                        dropdown
                    </div>
                    <div class="col-md-12">
                        PDF 1
                    </div>
                </div>             
            </div>           
        </div>

        <div class="col-md-6">
            <div id="pdfRight">
                <div class="row">
                    <div class="col-md-12">
                        dropdown
                    </div>
                    <div class="col-md-12">
                        PDF 2
                    </div>
                </div>      
            </div>
        </div>

    </div>

</div>